/* https://www.ibm.com/design/language/resources/color-library */
/* line 18, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.root {
  -fx-font-family: "Consolas";
  -fx-padding: 0 0 0 0;
}

/* line 23, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.top {
  -fx-background-color: #2c5e7e;
}

/* line 27, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left {
  -fx-background-color: #5d8bae;
  -fx-padding: 10 0 0 0;
}

/* line 33, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.bottom {
  -fx-background-color: #FED18C;
}

/* line 40, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.mainPane {
  -fx-background-color: #FEFEFF;
}

/* line 44, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.ueberschrift1 {
  -fx-font-weight: normal;
  -fx-font-size: 35px;
  -fx-text-fill: #2c5e7e;
  -fx-padding: 10 5 10 10;
}

/* line 51, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.saveSetttings {
  -jfx-button-type: RAISED;
  -fx-background-color: #28a745;
  -fx-text-fill: white;
}

/* nav buttons */
/* line 60, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .jfx-button {
  -fx-background-radius: 0;
  -jfx-button-type: FLAT;
  -fx-background-color: #29B6F6;
  -fx-text-fill: #E1F5FE;
  -fx-min-height: 40px;
  -fx-min-width: 40px;
  -fx-font-weight: 900;
  -fx-background-size: 40px 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
  -fx-font-size: 16px;
  -fx-font-family: "Consolas";
}

/* line 76, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .jfx-button:hover {
  -fx-background-color: #2c5e7e;
  -fx-text-fill: white;
  -fx-padding: 10 10 10 20;
}

/* line 82, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .accessRightsReceived {
  -fx-background-image: url("../img/user_credentials_40_40.png");
}

/* line 86, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .settings {
  -fx-background-image: url("../img/settings_40_40.png");
}

/* line 90, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .changeToDataUpload {
  -fx-background-image: url("../img/data_upload_40_40.png");
}

/* line 94, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .fundsXMLDataDownload {
  -fx-background-image: url("../img/data_upload_40_40.png");
}

/* line 98, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .history {
  -fx-background-image: url("../img/history_40_40.png");
}

/* line 102, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .accessRightsGrant {
  -fx-background-image: url("../img/user_credentials_40_40.png");
}

/* Data Upload */
/* line 108, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.dataUploadPane {
  -fx-background-color: lightgray;
  -fx-background-radius: 5.0;
  -fx-border-insets: 5;
  -fx-padding: 0;
  -fx-border-color: #0087F7;
  -fx-border-width: 2.5;
  -fx-border-style: dashed;
}

/* line 118, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.dataUploadPaneAccepted {
  -fx-background-color: lightgray;
  -fx-background-radius: 5.0;
  -fx-border-insets: 5;
  -fx-padding: 0;
  -fx-border-color: red;
  -fx-border-width: 2.8;
  -fx-border-style: dashed;
}

/* line 128, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.dataUploadTextBox {
  -fx-background-color: lightgray;
}

/* line 133, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.prodServer, .dataSupplier {
  -fx-font-family: "Consolas";
  -fx-text-fill: white;
}

/* line 139, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.left .dataSupplier {
  -fx-background-color: #29B6F6;
  /* -fx-background-insets: 0, 0 0 1 0 ; */
  -fx-background-radius: 0;
  -fx-background-radius: 0;
  -jfx-button-type: FLAT;
  -fx-background-color: #29B6F6;
  -fx-text-fill: #E1F5FE;
  -fx-min-height: 40px;
  -fx-min-width: 40px;
  -fx-font-weight: 900;
  -fx-background-size: 40px 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
  -fx-font-size: 16px;
  -fx-font-family: "Consolas";
}

/* line 157, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.dataSupplier:focused {
  -fx-background-color: lightgray;
}

/* line 161, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.meneuText, .prodServer {
  -fx-font-size: 16px;
  -fx-font-family: "Consolas";
  -fx-background-color: #29B6F6;
  -fx-background-position: left center;
  -fx-text-fill: white;
  -fx-padding: 0 0 0 5;
  /* (top/right/bottom/left) */
}

/* line 170, C:/Data/src/OeKBVisualClient/src/main/resources/sass/client.scss */
.jfx-toggle-button {
  -jfx-toggle-color: #e0210f;
  -jfx-untoggle-color: #FAFAFA;
  -jfx-toggle-line-color: #d35b23;
  -jfx-untoggle-line-color: #999999;
  -jfx-size: 10.0;
  -jfx-disable-visual-focus: false;
}

/*# sourceMappingURL=../css/client.map */