

/* https://www.ibm.com/design/language/resources/color-library */
$blue40: #5392ff;
$aqua20: #71cddd;
$green30: #34bc6e;
$lime20: #95d13c;
$gold20: #ffb000;
$peach30: #fe8500;
$magenta40: #ff509e;
$indigo40: #9b82f3;

$mainColor: #FEFEFF;
$bottomColor: #FED18C;
$left: #5d8bae;
$top: #2c5e7e;

.root {
    -fx-font-family     : "Consolas";
    -fx-padding         : 0 0 0 0; // RESET
}

.top {
    -fx-background-color: $top;
}

.left {
    -fx-background-color: $left;
    -fx-padding: 10 0 0 0; // top right bottom left
}


.bottom {
    -fx-background-color: $bottomColor;

}



.mainPane {
    -fx-background-color: $mainColor;
}

.ueberschrift1 {
    -fx-font-weight         : normal;
    -fx-font-size           : 35px;
    -fx-text-fill           : #2c5e7e;
    -fx-padding             : 10 5 10 10; // TOP RIGHT BOTTOM LEFT 50/40
}

.saveSetttings {
     -jfx-button-type: RAISED;
     -fx-background-color: #28a745;
     -fx-text-fill: white;
}

$menueBackground:   #29B6F6;

/* nav buttons */
.left .jfx-button {
    -fx-background-radius   : 0;
    -jfx-button-type        : FLAT;
    -fx-background-color    : $menueBackground;
    -fx-text-fill           : #E1F5FE;
    -fx-min-height          : 40px;
    -fx-min-width           : 40px;
    -fx-font-weight         : 900;
    -fx-background-size     : 40px 40px;
    -fx-background-repeat   : no-repeat;
    -fx-background-position : left center;
    -fx-font-size           : 16px;
    -fx-font-family         : "Consolas";

}

.left .jfx-button:hover {
    -fx-background-color    : #2c5e7e;
    -fx-text-fill           : white;
    -fx-padding             : 10 10 10 20; // TOP RIGHT BOTTOM LEFT
}

.left .accessRightsReceived {
    -fx-background-image    : url('../img/user_credentials_40_40.png');
}

.left .settings {
    -fx-background-image    : url('../img/settings_40_40.png');
}

.left .changeToDataUpload {
    -fx-background-image    : url('../img/data_upload_40_40.png');
}

.left .fundsXMLDataDownload {
    -fx-background-image    : url('../img/data_upload_40_40.png');
}

.left .history {
    -fx-background-image    : url('../img/history_40_40.png');
}

.left .accessRightsGrant {
    -fx-background-image    : url('../img/user_credentials_40_40.png');

}

/* Data Upload */
.dataUploadPane {
    -fx-background-color    : lightgray;
    -fx-background-radius   : 5.0;
    -fx-border-insets       : 5;
    -fx-padding             : 0;
    -fx-border-color        : #0087F7;
    -fx-border-width        : 2.5;
    -fx-border-style        : dashed;
}

.dataUploadPaneAccepted {
    -fx-background-color    : lightgray;
    -fx-background-radius   : 5.0;
    -fx-border-insets       : 5;
    -fx-padding             : 0;
    -fx-border-color        : red;
    -fx-border-width        : 2.8;
    -fx-border-style        : dashed;
}

.dataUploadTextBox {
    -fx-background-color    : lightgray;

}

.prodServer, .dataSupplier {
   -fx-font-family          : "Consolas";
   -fx-text-fill            : white;
}


.left .dataSupplier  {
    -fx-background-color: $menueBackground;
    /* -fx-background-insets: 0, 0 0 1 0 ; */
    -fx-background-radius: 0 ;

       -fx-background-radius   : 0;
        -jfx-button-type        : FLAT;
        -fx-background-color    : $menueBackground;
        -fx-text-fill           : #E1F5FE;
        -fx-min-height          : 40px;
        -fx-min-width           : 40px;
        -fx-font-weight         : 900;
        -fx-background-size     : 40px 40px;
        -fx-background-repeat   : no-repeat;
        -fx-background-position : left center;
        -fx-font-size           : 16px;
        -fx-font-family         : "Consolas";
}
.dataSupplier:focused {
    -fx-background-color: lightgray;
}

.meneuText, .prodServer {
    -fx-font-size:              16px;
    -fx-font-family:            "Consolas";
    -fx-background-color:       $menueBackground;
    -fx-background-position:    left center;
    -fx-text-fill:              white;
    -fx-padding:                0 0 0 5; /* (top/right/bottom/left) */
}

.jfx-toggle-button {
     -jfx-toggle-color: #e0210f;
     -jfx-untoggle-color: #FAFAFA;
     -jfx-toggle-line-color: #d35b23;
     -jfx-untoggle-line-color: #999999;
     -jfx-size: 10.0;
     -jfx-disable-visual-focus: false;
}
